/* styling for recipe website
*/

body {
    background-color: antiquewhite;
    font-size: 20px;
    font-family: sans-serif;
}

h1 {
    color: red;
    font-size: 40px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
}